/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    /* Main website */
    /* Colors */
    /* Text */
  
   /* Button Colors*/
  
  /* Link Colors*/
  /* Animation Styling*/
  
  
  }
  
  a {
    color: undefined;
  }
  
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  h1 {
    font-size: 40px;
    font-weight: 700;
    color: #6d6875;
    font-family: 'Poppins', sans-serif;
  }
  
  h2 {
    font-size: 25px;
    font-weight: 700;
    color: undefined;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #ffcdb2;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    font-family: 'Montserrat', sans-serif;
    color: #a52a2a;
  }
  
  /*button styling vv*/
  button {
    background-color: #361515;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color:rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    background-color: #add8e6;
  }
  
  button:focus {
    border: 1px solid #ffffff;
  }
  
  a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
  
  a:visited {
    /* visited link */
    color: #05676e;
  }
  
  a:active {
    /* selected link */
    color: #489c79;
  }
  
  button {
      border: none;
      font-family:inherit;
      background-color: #361515;
      color: #ffffff;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: opacity 0.3s ease-in-out ;
      -o-transition: opacity 0.3s ease-in-out ;
      transition: opacity 0.3s ease-in-out ;
    }
  
  input[type="submit"] {
      border: none;
      font-family:inherit;
      background-color: #361515;
      color: #ffffff;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: opacity 0.3s ease-in-out ;
      -o-transition: opacity 0.3s ease-in-out ;
      transition: opacity 0.3s ease-in-out ;
    }
  
  .button {
      border: none;
      font-family:inherit;
      background-color: #361515;
      color: #ffffff;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: opacity 0.3s ease-in-out ;
      -o-transition: opacity 0.3s ease-in-out ;
      transition: opacity 0.3s ease-in-out ;
    }
  
    button:hover, 
    button:focus, 
    input[type="submit"]:hover, 
    input[type="submit"]:focus,
    .button:hover, 
    .button:focus{
        /* lets the mouse appear as a hand when hovering over the button */
        cursor: pointer;
        /* reduces the opacity of the button to 80% */
        opacity: 0.8;
        color: white;
    }
   
  .button__secondary {
    background-color: #ffffff;
    color: #91494f;
  }
  .navigation-list__item--active {
    text-decoration: none;
  }
  
  /* About Page*/
  .about-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* Profile Index */
  
  .profile {
    max-width: 700px;
    margin: 0 auto;
  }
  .profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }
  
  .profile__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* Header */
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 30px;
  }
  
  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
  
  .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
  
  .navigation-list {
    list-style-type: none;
  }
  
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
  
  /* SVG Animation*/
  
  .berlin-illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
    width: 60%
  }
  
  @-webkit-keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
  }
  
  @keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
  }
  
  @-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
  }
  
  @keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
  }
  
  
  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  
  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  .sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  }
  
  .cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate ease-out;
            animation: 30s cloud-move infinite alternate ease-out;
  }
  
  .cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate ease-out;
            animation: 34s cloud-move-reverse infinite alternate ease-out;
  }
  
  footer {
    margin-top: auto;
  }
  /* start grid fallback */
  
  .project-list__item {
    background-color: #ffdacb;
    display: inline-block;
    width: auto;
    min-height: auto;
    margin: 30px;
    padding: 25px;
  }
   /* end grid fallback */
   
   @supports (display: grid) {
    .project-list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 10px;
    }
  
    .project-list__item:last-child {
      -ms-grid-column: 3;
      grid-column: 3 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1 / 3;
    }
  
    .page-footer {
      clear: both;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
    }
  
    @media all and (max-width:500px) {
      .project-list {
          -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      }
  }
  
  @media all and (min-width: 500px) and (max-width: 750px) {
      .project-list {
          -ms-grid-columns: 1fr 20px 1fr;
          grid-template-columns: 1fr 1fr;
      }
  }
  
  @media all and (max-width: 750px) {
      .project-list {
          grid-gap: 10px;
      }
      .project-list__item:last-child {
          grid-column: auto / auto;
          grid-row: auto / auto;
      }
      h1 {
          font-size: 22px;
      }
    }
  
  }